@use './variables' as *;

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSansVariableFont.ttf') format('truetype');
}

body {
  font-size: $font-size-m;
  line-height: 1.5;
}

p {
  font-size: $font-size-m;
  margin-bottom: 10px;
}

.small-text {
  font-size: $font-size-s;
}

.large-text {
  font-size: $font-size-l;
}

// styles for headings
h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}
