// adaptive widths
$phone-width: 480px;
$tablet-width: 768px;
$desktop-width: 1440px;

// font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// font sizes
$font-size-xs: 11px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;

// for headings
$font-size-h1: 45px;
$font-size-h2: 34px;
$font-size-h3: 28px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 16px;
